.ticket-card {
  margin-bottom: 1rem;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s;

  &__text {
    margin: 0;
    padding: 0.5rem;

    &--light {
      opacity: 0.7;
    }

    &--title {
      margin-bottom: 0;
    }

    &--id {
      padding: 0 0 0 0.5rem;
      opacity: 0.5;
    }

    &--description {
      margin-bottom: 0;
    }

    &--priority {
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }

  &:hover {
    transform: scale(1.01);
  }
  
}



.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px var(--color-grey-medium) solid;
  padding: 1rem 0 1rem 0;

  &__id {
    flex: 1;
    // border-right: 1px var(--color-grey-medium) solid;
  }

  &__title {
    flex: 10;
    // border-right: 1px var(--color-grey-medium) solid;
  }

  &__status {
    text-align: center;
    margin-right: 2rem;
    padding: 0.25rem;
    text-transform: uppercase;
    font-weight: bold;

    &--new {
      background-color: orange
    }

    &--active {
      background-color: lightblue

    }

    &--closed {
      background-color: greenyellow;
    }
  }
}

.second-row {
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__column {
    display: flex;
    align-items: center;
  }

  &__priority {
    display: flex;
    align-items: center;
  }
}

.priority-icon {
  color: red;
  transform: scale(.8) translate(-5px);;
  padding-bottom: 0.25rem;
}