<mat-card class="ticket-card">
  <div class="top-row">
    <div class="top-row__id">
      <span  style="font-weight: bold;"><h3 class="ticket-card__text">{{ticket.id}}</h3> </span>
    </div>
    <span class="top-row__title"><h3 class="ticket-card__text">{{ticket.title}}</h3></span>
    <span class="top-row__status"><h3 class="ticket-card__text">{{ticket.status}}</h3></span>
  </div>
  <div class="second-row">
    <div class="second-row__column">
      <p class="ticket-card__text ticket-card__text--light">Assigned To:</p>
      <p class="ticket-card__text">Steve Holt</p>
    </div>
  </div>
</mat-card>