.ticket-card {
  margin-bottom: 1rem;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s;

  &__text {
    margin: 0;
    padding: 1rem;

    &--light {
      opacity: 0.7;
    }
  }

  &:hover {
    transform: scale(1.01);
  }
  
}



.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px var(--color-grey-medium) solid;

  &__id {
    flex: 1;
    border-right: 1px var(--color-grey-medium) solid;
  }

  &__title {
    flex: 10;
    border-right: 1px var(--color-grey-medium) solid;
  }

  &__status {
    flex: 2;
  }
}

.second-row {
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__column {
    display: flex;
  }

}