<mat-card class="ticket-card" (click)="onClick()">
  <div class="top-row">
    <div class="top-row__id">
      <span style="font-weight: bold;">
        <h3 class="ticket-card__text ticket-card__text--id">{{ticket.ticketId}}</h3>
      </span>
      <span>
        <p [ngClass]="getStatusClass(ticket.status)" class="top-row__status">{{ticket.status | titlecase}}</p>
      </span>
    </div>
    <div class="top-row__title">
      <span>
        <h2 class="ticket-card__text--title">{{ticket.title}}</h2>
      </span>
      <span>
        <p class="ticket-card__text--description">{{ (ticket.description.length > 100)? (ticket.description | slice:0:100)+'..':(ticket.description) }}</p>
      </span>
    </div>
  </div>


  <div class="second-row">
    <div class="second-row__column">
      <p class="ticket-card__text ticket-card__text--light">Assigned To:</p>
      <p class="ticket-card__text">{{ticket.assigned.first | titlecase}} {{ticket.assigned.last | titlecase}}</p>
    </div>
    <div class="second-row__column">
      <p class="ticket-card__text ticket-card__text--light">Priority:</p>
      <div class="second-row__priority">
        <p class="ticket-card__text ticket-card__text--priority">{{ticket.priority | titlecase}}<mat-icon class="priority-icon" *ngIf="ticket.priority === TicketPriorityEnum.HIGH">priority_high</mat-icon></p>
      </div>
    </div>
    <div class="second-row__column">
      <p class="ticket-card__text ticket-card__text--light">Created:</p>
      <p class="ticket-card__text">{{ticket.creationDate | date}}</p>
    </div>
  </div>
</mat-card>